{% extends 'base.html' %}

{%  block content  %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <!-- Page header start -->
  
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0 shadow">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                    <li class="person" data-chat="person1">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <span class="status busy"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Steve Bangalter</span>
                                            <span class="time">15/02/2019</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person1">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar1.png" alt="Retail Admin">
                                            <span class="status offline"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Steve Bangalter</span>
                                            <span class="time">15/02/2019</span>
                                        </p>
                                    </li>
                                    <li class="person active-user" data-chat="person2">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png" alt="Retail Admin">
                                            <span class="status away"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Peter Gregor</span>
                                            <span class="time">12/02/2019</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person3">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <span class="status busy"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Jessica Larson</span>
                                            <span class="time">11/02/2019</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person4">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png" alt="Retail Admin">
                                            <span class="status offline"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Lisa Guerrero</span>
                                            <span class="time">08/02/2019</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person5">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar5.png" alt="Retail Admin">
                                            <span class="status away"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Michael Jordan</span>
                                            <span class="time">05/02/2019</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="selected-user">
                                <span>To: <span class="name">Emily Russell</span></span>
                            </div>
                            <div class="chat-container">
                                <ul class="chat-box chatContainerScroll">
                                    <li class="chat-left">
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <div class="chat-name">Russell</div>
                                        </div>
                                        <div class="chat-text">Hello, I'm Russell.
                                            <br>How can I help you today?</div>
                                        <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
                                    </li>
                                    <li class="chat-right">
                                        <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
                                        <div class="chat-text">Hi, Russell
                                            <br> I need more information about Developer Plan.</div>
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <div class="chat-name">Sam</div>
                                        </div>
                                    </li>
                                    <li class="chat-left">
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <div class="chat-name">Russell</div>
                                        </div>
                                        <div class="chat-text">Are we meeting today?
                                            <br>Project has been already finished and I have results to show you.</div>
                                        <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
                                    </li>
                                    <li class="chat-right">
                                        <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
                                        <div class="chat-text">Well I am not sure.
                                            <br>I have results to show you.</div>
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar5.png" alt="Retail Admin">
                                            <div class="chat-name">Joyse</div>
                                        </div>
                                    </li>
                                    <li class="chat-left">
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <div class="chat-name">Russell</div>
                                        </div>
                                        <div class="chat-text">The rest of the team is not here yet.
                                            <br>Maybe in an hour or so?</div>
                                        <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
                                    </li>
                                    <li class="chat-right">
                                        <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
                                        <div class="chat-text">Have you faced any problems at the last phase of the project?</div>
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png" alt="Retail Admin">
                                            <div class="chat-name">{{reponses.recepteur.username}}</div>
                                        </div>
                                    </li>
                                    {% for message in messages %}
                                    <li class="chat-left">
                                        <div class="chat-avatar">
                                         {% for pic in photo %}

                                           {% if pic.photo_de_profil %}
                                            <img src="{{pic.photo_de_profil.url}}" alt="">
                                        {% endif %}    
                                      {% endfor %}  
                                            <div class="chat-name">{{message.user.username}}</div>
                                        </div>
                                        <div class="chat-text">{{message.sujet}}
                                            <br>{{message.content}}</div>
                                        <div class="chat-hour">{{message.date}} <span class="fa fa-check-circle"></span></div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="form-group mt-3 mb-0">
                                <div id="alert-box"></div>
                                <div id="img-box"></div>
                                <div id="file-box"></div>                      
                                <form id="p-form" autocomplete="off">
                                   {% csrf_token %}
 <div class="row">
      <div class="col-md-12 pt-2">          
           <label for="exampleInputPassword1" class="form-label">MESSAGE</label> 
           <input type="text" name="sujet" id="id_sujet" class="form-control" placeholder="Enter title">
           <input type="text" name="content" id="id_content" class="form-control t" placeholder="Enter content">
            <div class="input-group">
               {{form.as_p}}
            </div> 
         
         <br/>          
         <p class="b"> <button type="submit" class="btn btn-outline-success ">Send</button>
                                  
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
const alertBox=document.getElementById('alert-box');
const imageBox=document.getElementById('img-box');
const fileBox=document.getElementById('file-box');
const form=document.getElementById('p-form');
const sujet=document.getElementById('id_sujet');
const content=document.getElementById('id_content');
const file=document.getElementById('id_file');
const image=document.getElementById('id_image');
const csrf=document.getElementsByName('csrfmiddlewaretoken')
const url="http://127.0.0.1:8000/messages/"
const handleAlerts=(type,text)=>{
    alertBox.innerHTML =`<div class="alert alert-${type}" role="alert">
        ${text}
    </div>`
}

image.addEventListener('change', ()=>{
    const img_data=image.files[0];
    const url=URL.createObjectURL(img_data)
    console.log(url);
    imageBox.innerHTML=`<img src="${url}" width="50px">`

})
file.addEventListener('change',()=>{
    const file_data=file.files[0];
    const url=URL.createObjectURL(file_data)
    fileBox.innerHTML=`<iframe src="${url}"></iframe>`
})

form.addEventListener('submit',e=>{
    e.preventDefault()

    const fd = new FormData()
    fd.append('csrfmiddlewaretoken', csrf[0].value)
    fd.append('sujet',sujet.value)
    fd.append('content',content.value)
    fd.append('image', image.files[0])
    fd.append('file',file.files[0])
    
    $.ajax({
        type:"POST",
        url:url,
        enctype:"multipart/form-data",
        data:fd,
        success:function(response){
            console.log(response)
            const sText =`successfully sended to  ${response.recepteur}`
            handleAlerts('success',sText)
            setTimeout(()=>{
                alertBox.innerHTML=""
                imageBox.innerHTML=""
                fileBox.innerHTML=""
                recepteur.value=""
            },2000)
        },
        error:function(error){
            console.log(error)
            handleAlerts('danger','successfully sended')
        
        },
        cache:false,
        contentType:false,
        processData:false,
    })

    
})


</script>

{% endblock %}
