{% extends 'base.html' %}

{%  block content  %}
</section>
</center><h1 class="mt-4 mb-2  " style="margin-left:400px;text-shadow: 3px 4px #ff0000">Your Videos</h1></center>
<section class="mt-5 p-5">
<div class="container">
<table class="table  table-hover table-striped ">
  <thead class="table-dark">
    <tr>
      <th scope="col">N*</th>
      <th scope="col">title</th>
      <th scope="col">created_at</th>
      <th scope="col">action</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
  {% for video in videos %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{video.title}}</td>
      <td>{{video.created_at}}</td>
      <td>
           <a href="{% url 'video-detail' video.id %}" class="btn btn-success">Read</a>
           <a href="{% url 'update-video' video.id %}" class="btn btn-warning">Update</a>
           <a href="{% url 'delete-video' video.id %}" class="btn btn-danger">delete</a>
      </td> 
            <td>{{video.status}}</td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>
</div>
</section>

{% endblock  %}